.community {
    background-color: #fff;

    &__title {

    }

    &__text {
        padding-right: 45px;
    }

    &__image {
        background: url(../img/community.jpg) no-repeat center center;
        height: 250px;
    }

}
