.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &__image {
        background-color: #191C21;
        width: 100%;
        flex-grow: 5;
        flex-shrink: 1;
        flex-basis: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        position: relative;
    }

    &__title {
        font-size: calc(100% + 12vw);
            font-weight: 800;
            text-transform: uppercase;
            color: white;
            margin-top: 0;
            line-height: 1;
            letter-spacing: -0.02em;
            margin-bottom: 1.5rem;

        span {
            font-weight: 200;
            color: #999;
            text-transform: none;
        }
    }

    &__sub-title {
        font-size: calc(50% + 1.4vw);
        font-weight: 300;
        line-height: 2;
        letter-spacing: 0.035em;
        margin-top: 3rem;;
        color: #6DD280;
    }
}
