html {
    font-family: sans-serif;
    line-height: 1.4;
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

* {
    all: unset;

    user-select: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    box-sizing: inherit;

    &:before,
    &:after {
        box-sizing: inherit;
    }
}

input[type],
[contenteditable] {
	user-select: text;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}

base, basefont, datalist, head, meta, script, style, title,
noembed, param, template {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;

    &:active,
    &:hover {
        outline-width: 0;
    }
}

a:focus,
button:focus {
    outline: 0;
}

button {
    appearance: none;
    background-color: transparent;
    border: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.4;
    margin: 0;
}

input,
fieldset {
    appearance: none;
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
    font-size: 1rem;
    font-family: inherit;

    &:focus {
        outline: 0;
    }

    ::-ms-clear {
        display: none;
    }
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

svg {
    display: inline-flex;

    &:not(:root) {
        overflow: hidden;
    }
}

img {
    max-width: 100%;
    display: block;
}
